<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fox_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,144},{182,134}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{182,134}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,282},{180,138}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{180,138}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{178,136}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{178,136}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{182,138}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{182,138}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,144},{182,134}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{182,134}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,280},{180,138}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{180,138}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{178,140}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{178,140}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{182,140}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{182,140}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,144},{182,138}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{182,138}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,284},{180,140}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{180,140}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,420},{178,142}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{178,142}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,142}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{182,142}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{182,140}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{182,140}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,280},{180,144}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{180,144}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{178,140}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,19},{178,140}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,142},{182,138}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{182,138}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,140}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{182,140}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{180,138}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{180,138}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,422},{178,140}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{178,140}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>fox_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{182,138}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{182,138}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_frames.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b67c7d7f2070be130be52b9303e9e86$</string>
            <key>textureFileName</key>
            <string>run_frames.png</string>
        </dict>
    </dict>
</plist>
