<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boost_frames_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,145}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,57},{392,145}}</string>
                <key>sourceSize</key>
                <string>{408,213}</string>
            </dict>
            <key>boost_frames_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{376,149}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,64},{376,149}}</string>
                <key>sourceSize</key>
                <string>{408,213}</string>
            </dict>
            <key>boost_frames_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{376,145}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,57},{376,145}}</string>
                <key>sourceSize</key>
                <string>{408,213}</string>
            </dict>
            <key>boost_frames_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{376,149}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,64},{376,149}}</string>
                <key>sourceSize</key>
                <string>{408,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boost_frames.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:174bef93a1c1f630c919dfa75d32f1fe$</string>
            <key>textureFileName</key>
            <string>boost_frames.png</string>
        </dict>
    </dict>
</plist>
